<%- include('./intit/header') %>
<%- include('./intit/topbar') %>
<%- include('./intit/sidebar') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <head>
        <title>Table V04</title>a
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="/controller/" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--=====================================================================a==========================-->
        <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/css/util.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <!--===============================================================================================-->
    </head>
</head>
<div class="content-wrapper">
    <div class="page-title">
        <div class="row">
            <div class="col-xl-12 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="d-block d-md-flex justify-content-between">
                            <div class="d-block">
                                <h5 class="card-title pb-0 border-0">DANH SACH TAI KHOAN</h5>
                            </div>
                            <div class="d-block d-md-flex clearfix sm-mt-20">

                                <div class="widget-search ml-0 clearfix">
                                    <i class="fa fa-search"></i>
                                    <input type="search" class="form-control" placeholder="Search....">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive mt-15">
                            <table class="table center-aligned-table mb-0">
                                <thead>
                                    <tr class="text-dark">
                                        <th>email</th>
                                        <th>diaChi</th>
                                        <th>userName</th>
                                        <th>role</th>
                                        <th>soDienThoai</th>
                                        <th>soSachDaMua</th>
                                        <th>Tùy Chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%listUser.forEach(user=>{%>
                                    <tr class="  single-product" id='<%= user.email %>'>
                                        <td><%= user.email %></td>
                                        <td><%= user.diaChi  %></td>
                                        <td><%= user.userName %></td>
                                        <td><%= user.role %></td>
                                        <td><%= user.soDienThoai %></td>
                                        <td><%= user.soSachDaMua %></td>
                                        <% let isEdit = true
                                        if(user.role == "Admin"){
                                            isEdit = false
                                        }
                                        %>
                                        <%if(isEdit){%>
                                        <td><a href="/sua-tai-khoan/<%=user.email%>"
                                                class="btn btn-outline-success btn-sm">Chỉnh
                                                sửa</a></td>
                                        <%}%>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src=" /vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        var ps = new PerfectScrollbar(this);

        $(window).on('resize', function () {
            ps.update();
        })
    });

    $('.xoa-sach').click(function () {
        let categoryName = $(this).attr('idCategory');
        let idBook = $(this).attr('id');

        console.log({ categoryName, idBook });
        $.ajax({
            url: '/xoa-sach',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ categoryName, idBook }),
            dataType: 'json',
            success: function (resp) {
                console.log({ resp })
                alert('xAO THANH CONG')

            },
            error: function (error) {
                console.log({ error });
                alert('Có lỗi khi thao tác')
            }
        })
    })
</script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>

</html>